.body {
  background-color: #000;
  color: #a0a7b3;
  font-size: 1rem;
  font-family: Saira Variablefont Wdth Wgth, sans-serif;
  line-height: 1.5;
}
.navbar {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.navbar-brand {
  padding-left: 0;
}

.navbar-menu {
  position: static;
  display: flex;
  align-items: center;
}

